<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <settings>
        <setting name="logImpl" value="slf4j" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="%{jdbc_link}%"/> <!-- 在 SQLOperation.kt当中做替换-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/BubbleMapper.xml"/>
    </mappers>

</configuration>